<h1> About </h1>

<p>
At OnlyBrickHouses we strive to bring better design, architecture, and urban planning into the mainstream.
</p>

<p> 
Many problems we face in society, from obesity to poverty, have roots in how we build. Today, big-box home builders focus on profit, use cheap materials, and don't build structures to last. We want that to end.
</p>

<p>
The best way to shift society toward a better decision is by letting the market do it's job. That's why at OnlyBrickHouses we aggregate content and information so that
those who are building <i>right</i> are able to be found and can scale up their designs and build quality. We believe that if everyday people have more choices, they'll 
choose better architecture and more walkable neighborhoods. 
</p>