<h1> Build your own home! </h1>

<p>
For many, buying a home is expensive and you can't quite get what you want. Builders are available, but maybe they are busy or cost too much. 
Or maybe you're just looking for a challenge. Well. Build your own home!
</p>

