<h1> Build your own home! </h1>

<p>
For many, buying a home is expensive and you can't quite get what you want. Builders are available, but maybe they are busy or cost too much. 
Or maybe you're just looking for a challenge. Well. Build your own home!
</p>

<h2> Books To Get Started</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.amazon.com/Building-Stone-Walls-John-Vivian/dp/0882660748/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=e6aa7f2330c0f2128d2019586891cabf&camp=1789&creative=9325">Building Stone Walls</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Classic-Hewn-Log-House-Step-Step/dp/1580175902/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=8011d6d10effb182cbfddd8b10d835c8&camp=1789&creative=9325">The Classic Hewn-Log House: A Step-by-Step Guide to Building and Restoring</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Cob-Builders-Handbook-Hand-Sculpt-Your/dp/0965908208/r?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=6710a196106892f74c598d86b1d77ec8&camp=1789&creative=9325">The Cob Builders Handbook: You Can Hand-Sculpt Your Own Home</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Cordwood-Building-Comprehensive-Guide-State/dp/0865718288/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=471cd2120d342335e62bebacc0a7fd7e&camp=1789&creative=9325">Cordwood Building: A Comprehensive Guide to the State of the Art</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Learn-Timber-Frame-Craftsmanship-Simplicity/dp/1612126685/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=6aab868d0510838186ccbbd8a49401f3&camp=1789&creative=9325">Learn to Timber Frame: Craftsmanship, Simplicity, Timeless Beauty</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/More-Straw-Bale-Building-2005-02-01/dp/B01F9FRELI/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=13a42b50274eeb57b95374f9baa02709&camp=1789&creative=9325">More Straw Bale Building: A Complete Guide to Designing and Building with Straw</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Stonebuilders-Primer-Step-Step-Owner-Builders/dp/1552092984/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=ca09121dfb9f7c49928e2a0b9ab7afce&camp=1789&creative=9325">The Stonebuilder's Primer</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Stonework-Techniques-Projects-Charles-McRaven/dp/0882669761?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=4c4eb94dd804f3cc62ac1f3a63b33c13&camp=1789&creative=9325">Stonework: Techniques and Projects</a>
    </li>
</ul>

<p> Note that if you buy a book using one of these Amazon links OnlyBrickHouses makes a small percentage from that purchase which just goes to paying hosting costs at this point. Thanks. </p>

