Note to self: This page should link out to each neighborhood and each neighborhood should have its own page

Note to self: I need to create a platform for builders. They need to be able to login, receive inquiries, post pictures and info, etc.

<% neighborhoods_by_city = @neighborhoods.group_by(&:neighborhood_city) %>
<div class="container">
  <% neighborhoods_by_city.each_slice(3) do |cities| %>
    <div class="row">
      <% cities.each do |city, neighborhoods| %>
        <div class="col-md-4">
          <div class="card border-secondary mb-3">
              <%= image_tag "cities/#{city.downcase.parameterize(separator: '_')}.jpg", class: "card-img-top", width: "400", height: "200", alt: "#{city} image" %>
            <div class="card-body">
              <h2 class="card-title"><%= city %></h2>
              <ul>
                <% neighborhoods.each do |neighborhood| %>
                  <li><a href="<%= neighborhood.neighborhood_url %>"><%= neighborhood.neighborhood_name %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>
