<h1>List of neighborhoods</h1>
<p>
    Many people think that picking a city is all they need to do when they want to find a place to live. But it's not enough. You need to pick the right neighborhood - the one that fits your lifestyle, goals, and has good architecture. 
</p>


  click neighborhoods, list state, list neighborhoods, click link, display some info, click to see for sale in that neighborhood

Do we need the US state? What if we don't care?

<h2> Ohio </h2>
German Village
Italian Village
Victorian Village

<h2> Oklahoma </h2>

Wheeler District