<h1>Find your neighborhood!</h1>
<p>
Looking to make a move?
</p>
<p>
Why not start with the best neighborhoods?
</p>
<p>
We're adding more locations every day. :)
</p>
<% current_city = nil %>
<% @neighborhoods.each do |neighborhood| %>
  <% if current_city != neighborhood.neighborhood_city %>
    <% unless current_city.nil? %>
      </ul>
    <% end %>
    <h2><%= neighborhood.neighborhood_city %></h2>
    <ul>
    <% current_city = neighborhood.neighborhood_city %>
  <% end %>
  <li><a href= <%= neighborhood.neighborhood_url %> > <%= neighborhood.neighborhood_name %> </a></li>
<% end %>
<% unless current_city.nil? %>
  </ul>
<% end %>
