<h1>List of neighborhoods</h1>
<p>
    Many people think that picking a city is all they need to do when they want to find a place to live. 
    But it's not enough. You need to pick the right neighborhood - the one that fits your lifestyle, goals, and has good architecture. 
</p>

<h2> Ohio </h2>
  <h3> Cincinnati </h3>
    <ul>
      <li> <a href="https://www.zillow.com/clifton-cincinnati-oh/">Clifton</a> </li>
      <li> <a href="https://www.zillow.com/mt-adams-cincinnati-oh/"> Mt. Adams</a></li>
      <li> <a href="https://www.zillow.com/northside-cincinnati-oh/"> Northside</a></li>
      <li> <a href="https://www.zillow.com/over-the-rhine-cincinnati-oh/"> Over-The-Rhine</a></li>
    </ul>

  <h3> Cleveland </h3>
    <ul>
      <li> <a href="https://www.zillow.com/ohio-city-cleveland-oh/">Ohio City</a> </li>
      <li> <a href="https://www.zillow.com/homes/Tremont,-Cleveland,-OH_rb/">Tremont</a> </li>
    </ul>

  <h3> Columbus </h3>
    <ul>
      <li> <a href="https://www.zillow.com/olde-towne-east-columbus-oh/">Olde Towne East</a> </li>
      <li> <a href="https://www.zillow.com/german-village-columbus-oh/">German Village</a> </li>
      <li> <a href="https://www.zillow.com/italian-village-columbus-oh/"> Italian Village</a></li>
      <li> <a href="https://www.zillow.com/victorian-village-columbus-oh/"> Victorian Village</a></li>
    </ul>

<h2> Oklahoma </h2>
<ul>
  <li> <a href="https://www.wheelerdistrict.com/">Wheeler District</a> </li>
</ul>


