<h1>
List of Resources</h1>

<h1>Books</h1>
<h2>Gardening</h2>
<ul>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Independent-Farmstead-Biodiversity-Nutrient-Dense-Management/dp/1603586229/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=8c49491ee36765379ef8a941b974e507&camp=1789&creative=9325">The Independent Farmstead</a>
    </li>
</ul>

<h2>Urban Planning and Design</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.amazon.com/Cognitive-Architecture-Designing-Respond-Environment/dp/036746859X/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=38efbf7e65bb27d5fbe435098188efa6&camp=1789&creative=9325">Cognitive Architecture</a>
    </li>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Death-Life-Great-American-Cities/dp/067974195X/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=85d38209b9e22ae7639c8bcbbff1a4fb&camp=1789&creative=9325">The Life and Death of Great American Cities</a>
    </li>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Suburban-Nation-Sprawl-Decline-American/dp/0865477507/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=1b47b9e082c0f009934b0fd7d04ee937&camp=1789&creative=9325">Suburban Nation</a>
    </li>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Walkable-City-Tenth-Anniversary-Downtown/dp/1250857988/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=e4780cafb997772a728421f84775f56c&camp=1789&creative=9325">The Walkable City</a>
    </li>
</ul>

<h1>Education</h1>
<ul>
</ul>


<h1>Websites</h1>
<ul>
    <li> <a href=https://www.strongtowns.org/>Strong Towns </a></li>
</ul>