<h1>
List of Resources</h1>

<h1>Books</h1>
<h2>Gardening</h2>
<ul>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Independent-Farmstead-Biodiversity-Nutrient-Dense-Management/dp/1603586229/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=8c49491ee36765379ef8a941b974e507&camp=1789&creative=9325">The Independent Farmstead</a>
    </li>
</ul>

<h2>Urban Planning and Design</h2>
<ul>
    <li>
        <a target="_blank" href="https://www.amazon.com/Cognitive-Architecture-Designing-Respond-Environment/dp/036746859X/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=38efbf7e65bb27d5fbe435098188efa6&camp=1789&creative=9325">Cognitive Architecture</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Confessions-Recovering-Civil-Engineer-Transportation/dp/1119699290/ref=sr_1_1?keywords=confessions+of+a+recovering+engineer&amp;qid=1679248469&amp;sprefix=confessions+of+a+recovering+engin%252Caps%252C126&amp;sr=8-1&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=c0de5531b992ef01c83fee56c363d070&camp=1789&creative=9325">Confessions of a Recovering Engineer</a>
    </li>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Death-Life-Great-American-Cities/dp/067974195X/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=85d38209b9e22ae7639c8bcbbff1a4fb&camp=1789&creative=9325">The Life and Death of Great American Cities</a>
    </li>
    <li>
        <a target="_blank" href="https://www.amazon.com/Strong-Towns-Bottom-Up-Revolution-Prosperity/dp/1119564816/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=d0b70e4e8fceb65f7ae0098ed81d3ae3&camp=1789&creative=9325">Strong Towns</a>
    </li>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Suburban-Nation-Sprawl-Decline-American/dp/0865477507/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=1b47b9e082c0f009934b0fd7d04ee937&camp=1789&creative=9325">Suburban Nation</a>
    </li>
    <li> 
        <a target="_blank" href="https://www.amazon.com/Walkable-City-Tenth-Anniversary-Downtown/dp/1250857988/?&_encoding=UTF8&tag=onlybrickhous-20&linkCode=ur2&linkId=e4780cafb997772a728421f84775f56c&camp=1789&creative=9325">The Walkable City</a>
    </li>
</ul>

<h1>Education</h1>
<ul>
</ul>


<h1>Websites</h1>
<ul>
    <li> <a href="https://theaestheticcity.com/"> The Aesthetic City</a> </li>
    <li> <a href=https://www.strongtowns.org/>Strong Towns </a></li>
</ul>

<h1>YouTube Videos and Channels</h1>
<ul>
    <li> <a href=https://www.youtube.com/@50Acres>A Cabin and 50 Acres </a></li>
</ul>

<p> Note that if you buy a book using one of these Amazon links OnlyBrickHouses makes a small percentage from that purchase which just goes to paying hosting costs at this point. Thanks. </p>