<h1>
List of Resources</h1>

Maybe change title to Education?

Books
walkable city
life and death of american cities
cognitive architecture

link each to Amazon and then do an affiliate link

ted talks
knustler
spec

Other websites

Strongtowns
Sussman's websites
