// Custom bootstrap variables must be set or imported *before* bootstrap.

// .navbar {
// }

// .nav-item {
//     font-weight: 300
//     }

nav .nav-item a {
    color: #d42c20;
    font-weight: 600;
}

footer .nav-item a {
    color: black;
}

footer .nav-item a:hover {
    color: #d42c20;
}

@import "bootstrap";
