<nav class="navbar">
  <a class="navbar-brand" href="/">Only Brick Houses</a>
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Builders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Neighborhoods</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Additional Content</a>
  </li>
</ul>
</nav>